<ActionBar title="Home" class="action-bar">
</ActionBar>

<StackLayout>
    <Label [text]="'Liczba elementów: '+lista.length" style="font-size: 20;text-align: center;margin-top: 10;"></Label>
    <TextField [(ngModel)]="txt" hint="Wprowadź pozycję..."></TextField>

    <Button text="Nowy" (tap)="dodaj()" style="width: 33%;" class="btn moj-przycisk"></Button>
    <Button text="Usuń" (tap)="remove()" style="width: 33%;" class="btn moj-przycisk"></Button>
    <Button text="Usuń wszystko" (tap)="removeAll()" style="width: 33%;" class="btn moj-przycisk"></Button>
    <ListView class="list-group" [items]="lista" (itemTap)="onItemTap($event)"
        style="height:1250px">
        <ng-template let-element="item">
            <Label [text]="element" class="lista-element"></Label>
        </ng-template>
    </ListView>
    <Label [text]="'Liczba tapnięć: ' + clickCount.toString()" style="font-size: 16;text-align: center;"></Label>

</StackLayout>